.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.Course {
    text-align: center;
    position: absolute;
    top: 35px;
    font-size:25px;
}

.Description {
    top: 70px;
    text-align: center;
    position: absolute;
    font-size: 20px;
}

.button {
    border: 3px solid;
    height: 70px;
    color:black;
    background-color: whitesmoke;
    margin-top: 8px;
    line-height: 3.7;
}

.button:hover{
    background-color: #dee2e6;
}

.icon {
    display: flex;
    justify-content: center;
    text-align: center;
}

.name {
    line-height: 3.7;
    font-size: large;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}