.Home-Header {
    position: 'static';
    top: 0;
    z-index: 1;
    width: '100%';
    display: 'flex';
    align-items: 'center';
    background-color: black;
}

.Avatar {
    border-color: white;
    size: large;
    border: 2px solid;
    margin-top: -10px;
}

.Title {
    margin-left: 40%;
    color: white;
    font-size: 30px;
}

.Menu {
    color: white;
    float: right;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Exam-Row {
    height: 50px;
    align-items: center;
    background-color: black;
    border: 10px white;
}

.Back {
    margin-left: 25px;
    height: 30px;
    background-color: white;
    width: 50px;
    padding-top: 5px;
    padding-left: 15px;
}

.File {
    margin-left: -30px;
    width: 100px;
    height: 35px;
    background-color: white;
    padding-left: 25px;
    line-height: 35px;
    border-radius: 10px;
}

/* .Goal {
    height: 30px;
    background-color: white;
    width: 100px;
    padding-top: 5px;
    padding-left: 15px;
}

.Preview {
    height: 30px;
    background-color: white;
    width: 100px;
    padding-top: 5px;
    padding-left: 15px;
} */

.Content {
    padding: 24px;
    height: 600px;
    background-color: #EFEFEF;
    width: 55%;
    float: left;
}

.Divider {
    height: 1px;
    background-color: white;
}

.View {
    height: 600px;
    background-color: white;
    width: 45%;
    float: right;
}

.Exegesis {
    height: 200px;
    background-color: #EFEFEF;
}

.Code {
    margin-top: 10px;
    height: 200px;
    background-color: white;
    width: 100%;
    border: 0;
}

.Button {
    margin-top: 5px;
}

.Goal {
    height: 30px;
    width: 50%;
    float: left;
    text-align: center;
    line-height: 20px;
}

.Preview {
    height: 30px;
    width: 50%;
    float: right;
    text-align: center;
    line-height: 20px;
}